.directions {
  margin-top: -1rem;
  font-size: 1rem;
  color: #E6B375;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.answer-btn {
  color: #282c34;
  margin: 1rem;
  padding: .75rem 1.75rem .75rem 0;
  background: white;
  height: 11rem;
  width: 11rem;
  text-align: left;
  border-radius: 1rem;
}

.btn-1 {
  background-color: #A0B778;
}

.btn-2 {
  background-color: #F0A171;
}
