.directions {
  margin-top: -1rem;
  font-size: 1.2rem;
  color: #E6B375;
}

.btn-container {
  display: flex;
  flex-direction: row;
}

.answer-btn {
  color: #282c34;
  margin: 1rem;
  padding: 1rem;
  background: white;
  height: 11rem;
  width: 11rem;
  border-radius: 1rem;
  font-size: 1rem;
}

.btn-1 {
  background-color: #A0B778;
}

.btn-2 {
  background-color: #F0A171;
}

p {
  margin: .3rem;
}

@media only screen and (max-width: 600px) {
  .directions {
    font-size: 1.1rem;
  }

  .answer-btn {
    height: 10rem;
    width: 10rem;
    margin: .4rem;
  }

  .btn-container {
    margin: 1rem;
  }  
}  